/* 768-980 */

@media (max-width: 980px) {
    #headerContainer {
        width: auto;
        margin: 0 100px;
    }
    #mainContainer {
        clear: both;
        width: auto;
        margin: 30px 100px 85px 100px;
    }
    section,
    aside {
        padding: 0 10px 10px 10px;
    }
    section {
        width: auto;
        margin: 0 260px 0 0;
        float: left;
    }
    aside {
        width: 215px;
        margin: 0 0 0 -247px;
        float: right;
    }
    .articleImage {
        width: auto;
    }
    .imageLeft {
        margin: 0 0 10px -5px;
    }
    .social a {
        margin-left: 5px;
        display: inline-block;
    }
}


/* 640-768 */

@media (max-width: 768px) {
    #headerContainer {
        width: auto;
        margin: 0 20px;
    }
    #mainContainer {
        clear: both;
        width: auto;
        margin: 40px 20px;
    }
    section {
        width: auto;
        margin: 0 0 40px 0;
        float: none;
    }
    aside {
        width: auto;
        margin: 0;
        float: none;
    }
    footer {
        position: static;
    }
    .articleImage {
        width: 250px;
    }
    .imageLeft {
        margin: 0 10px 10px 0;
    }
    .social {
        text-align: left;
    }
}


/* 0-640 */

@media (max-width: 640px) {
    #headerContainer {
        width: auto;
        margin: 0;
        background-color: #4aaaa5;
        text-align: center;
    }
    #mainContainer {
        clear: both;
        width: auto;
        margin: 40px 20px;
    }
    section {
        width: auto;
        margin: 0 0 40px 0;
        float: none;
    }
    aside {
        width: auto;
        margin: 0;
        float: none;
    }
    .articleImage {
        width: auto;
    }
    .imageLeft {
        margin: 0 0 10px 0;
    }
    #nav {
        background-color: #fff;
        float: none;
        display: block;
        margin: 0;
    }
    #nav ul {
        float: none;
        line-height: 20px;
        padding: 0;
        width: 278px;
        margin: 0 auto;
        height: 60px;
    }
    #nav ul li {
        float: right;
        list-style: none;
        padding: 0 20px;
        border-right: 1px solid #ddd;
        margin-top: 20px;
    }
    footer {
        position: static;
    }
}
